@charset "utf-8";

/**
  * @created: 2018.03
  * @author: kidultyx
  * @version: 1.2
  * @desc: 后工坊星空人毕业去向板块
  */

.graduated {
	margin: 60px 0 30px 0;
	padding: 0 5%;
	width: 90%;
}
.graduated .heading {
	width: 100%;
	font-size: 25px;
	font-family: '微软雅黑';
	color: rgb(76,87,97);
}
.graduated .graduatedshow {
	margin: 40px 0 0 20%;
	width: 80%;
	height: 675px;
	overflow-y: scroll;
}
.graduated .graduatedshow .part {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	flex-wrap: wrap;
	margin-bottom: 27.5px;
	width: 100%;
	flex: auto;
}
.graduated .graduatedshow .part .xkman {
	margin-bottom: 35px;
	width: 50%;
	height: 120px;
}
.graduated .graduatedshow .part .xkman .ownphoto{
	float: left;
	width: 120px;
	height: 100%;
}
.graduated .graduatedshow .part .xkman .ownphoto>img {
	width: 100%;
	height: 100%;
}
.graduated .graduatedshow .part .xkman .infor {
	float: left;
	padding: 3px 0 0 8px;
	height: 100%;
	font-family: '微软雅黑';
}
.graduated .graduatedshow .part .xkman .infor>p {
	height: 20%;
	font-size: 15px;
	color: rgb(140,153,165);
}
